
.menu-box {
  position: fixed;
  top: 5%;
  left: 100%;
  height: 100%;
  width: 2500%;
  backdrop-filter: blur(5px);
  color: white;
  padding: 1px;
  transition: transform 0.3s ease-in-out;
  z-index: 99;
  border-radius: 1%;
  display: none;
  margin-top: 7%;
  justify-content: center;
  overflow-y: scroll;
  flex-wrap: wrap;
}


.slide-in {
  opacity: 0;
  transform: scale(0.95);
  transform: translateX(1%);
  display: none;
  pointer-events: none;
}

.slide-out {
  transform: translateX(0.8%);
  display: flex;
  opacity: 1;
  transform: scale(1);
  pointer-events: all;
}

/* App grid */
.menu-box-appSection {
  display: flex;
  flex-direction:row;
  gap: 13%;
  padding: 40px;
  flex-wrap: wrap;
  overflow-y: scroll;
  width: 80%;
  padding-bottom: 13%;
  height: 100%;
  background: rgba(255, 255, 255, 0.06);
  border-radius: 20px;
  backdrop-filter: blur(30px);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
  /* margin-bottom: 2%; */
}

/* Individual App Icon Link */
.menu-box-appSection .glass-link {
  text-align: center;
  color: white;
  text-decoration: none;
  height: 15%;
  align-items: center;
  display: flex;
  flex-direction: column;
  /* border: solid red; */
  transition: transform 0.3s ease;
  margin-bottom: 10px;
}
.menu-box-appSection .glass-link:hover {
  transform: scale(1.29);
}

/* Icon style */
.menu-box-appSection  .glass-icon {
  width: 115px;
  height: 116px;
  border-radius: 15px;
  margin-bottom: 8px;
}

.hide-glass {
  filter: blur(10px);
  transition: filter 0.4s ease;
}

